/*
Free Html5 Responsive Templates
Author: Kimmy Tran
Author URI: http://www.zerotheme.com/
*/
html {
   -webkit-text-size-adjust: none;
}
.video embed,
.video object,
.video iframe {
   width: 100%;
   height: auto;
}
img{
	max-width:100%;
	height: auto;
   	width: auto\9; 
	/* ie8 */
}

/*------------------------*/

@media only screen and (max-width: 959px) {
	#menus{display:block !important;}
	.menu{display:none;}
	.carousel-container {
	width:700px;
	margin:0 auto;
}
	#filter-container {
    width: 800px;
	margin:0 auto;
    /* 712 + 20 gap */
  
  }
  #filter-container figure {
    width: 223px;
   
  }


}

@media only screen and (max-width: 767px){
	#menus{display:block !important;}
	.menu{display:none;}

	h2{
	font-size:23px;}
	.img-indent2{float: none;}
	.carousel {
	  width:600px;
  }
.carousel-container {
	width:450px;
	margin:0 auto;}
	
	#filter-container {
    width: 450px;
	margin:0 auto;
  }
	.zmpic{
		display:none;}
	.zerogrid .col-2-3{width:100%; height:100%;}

  #filter-container figure {
    width: 290px;
  margin:0 auto;
    float: left;
  }

}
@media only screen and (max-width: 619px) {
	h1 {float:none;}
	h2 {font-size:23px;	line-height:1em;padding-left:10px;	background:none;}
	.img-indent2{float: none;}

	#filter-container {
    width: 360px;
  }
  .carousel {
	  width:320px;
  }
  #filter-container figure {
    width: 290px;
  margin:0 auto;
    float: left;
  }
  	#content-hr1{
	display:block;
	}
	.img-border2 {
		width:550px;}
		.carousel-container {
	width:220px;
	margin:0 auto;}
		
	 

}
	
}
@media only screen and (max-width: 480px) {
	
	h2 {font-size:23px;	line-height:1em;padding-left:10px;	background:none;}
	#menus{display:block !important;
	}
	.menu{display:none;}
	
	#content-hr1{
	display:block;
	}
	#filter-container {
    width: 360px;
	margin:auto auto;
  }
  #filter-container figure {
    width: 300px;
   margin:auto auto;
    float: left;
  }
  .zerogrid .col-1-3{
	  margin:auto auto;}
	.carousel-container {
	width:220px;
	margin:0 auto;}
	 

 

}
@media only screen and (max-width: 240px) {
		#content-hr1{
	display:block;
	}
}